@tailwind base;
@tailwind components;
@tailwind utilities;


.flex-2 {
    flex: 2
}

.flex-3 {
    flex: 3
}
.flex-4 {
    flex: 4
}
.flex-5 {
    flex: 5
}
.flex-6 {
    flex: 6
}
.flex-7 {
    flex: 7
}
.flex-8 {
    flex: 8
}
.flex-9 {
    flex: 9
}
.flex-10 {
    flex: 10
}

.shadow-edit{
-webkit-box-shadow: 14px 15px 10px -10px rgba(0, 0, 0, 0.2);
    box-shadow: 14px 15px 10px -10px rgba(0, 0, 0, 0.2);
}

